
// Styles for the intro box component

.intro-box
  // This is to make the intro box overlap the page backgrounds
  position: relative
  z-index: 50
  width: 100vw
  height: 100vh
  display: flex;
  flex-flow: column nowrap
  justify-content: space-between
  align-items: center
  padding: 20vh 10vw
  background-color: blackColor
  animation: fadeIn 1s ease-in forwards
  &__title
    align-self: flex-start
    max-width: 14.375rem
    font: 3rem titleFont
    color: whiteColor
    @media(min-width: 768px)
      font-size: 4rem
      max-width: 30rem
