
// Styles for the page background component

.page-background
  position: fixed
  z-index: 20
  top: 0
  left: 0  
  width: 100%
  height: 100%
  background: blackColor no-repeat center/cover;
  &--active
    display: block;
